{% extends "calculos/base.html" %}
{% load static %}

{% block title %}Cálculo de valor Alocação Pura{% endblock %}

{% block content %}
    <h1 class="mt-5">Cálculo de Alocação Pura</h1>
    <form method="post" id="calculo-form" style="padding: 20px;">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_cargo">Cargo</label>
            <input type="text" id="id_cargo" name="cargo" class="form-control" autocomplete="off" placeholder="Digite o nome do cargo...">
            <div id="autocomplete-suggestions" class="autocomplete-suggestions"></div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="id_salario">Salário</label>
                <input type="text" id="id_salario" name="salario" class="form-control" placeholder="R$ 0,00">
            </div>
            <div class="form-group col-md-6">
                <label for="id_assistencia_medica">Assistência Médica</label>
                <input type="text" id="id_assistencia_medica" name="assistencia_medica" class="form-control" value="450,00">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Assistência Odontológica</label>
                <input type="text" id="id_assistencia_odonto" name="assistencia_odonto" class="form-control" value="21,96">
            </div>
            <div class="form-group col-md-6">
                <label>Seguro</label>
                <input type="text" id="id_seguro" name="seguro" class="form-control" value="7,27">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Vale Refeição</label>
                <input type="text" id="id_vr" name="vr" class="form-control" value="605,00">
            </div>
            <div class="form-group col-md-6">
                <label>Vale Alimentação</label>
                <input type="text" id="id_va" name="va" class="form-control" value="0,00">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Vale Transporte</label>
                <input type="text" id="id_vt" name="vt" class="form-control" value="200,00">
            </div>
            <div class="form-group col-md-6">
                <label>Gym Pass</label>
                <input type="text" id="id_gympass" name="gympass" class="form-control" value="14,73">
            </div>
        </div>
        <button type="button" class="btn btn-primary" id="calcular-btn" data-toggle="modal" data-target="#calcularModal">Calcular</button>
        <button type="button" class="btn btn-danger" id="limpar-btn">Limpar</button>
    </form>

        <!-- Modal -->
    <div class="modal fade" id="calcularModal" tabindex="-1" role="dialog" aria-labelledby="calcularModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document" style="max-width: 90%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Resultado do Cálculo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- Tabela 1 -->
                            <div class="col-md-4">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Descrição</th>
                                            <th>Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Salário</td>
                                            <td id="salario"></td>
                                        </tr>
                                        <tr>
                                            <td>Assistência Médica</td>
                                            <td id="assistencia_medica"></td>
                                        </tr>
                                        <tr>
                                            <td>Assistência Odontológica</td>
                                            <td id="assistencia_odonto"></td>
                                        </tr>
                                        <tr>
                                            <td>Vale Refeição</td>
                                            <td id="vr"></td>
                                        </tr>
                                        <tr>
                                            <td>Vale Alimentação</td>
                                            <td id="va"></td>
                                        </tr>
                                        <tr>
                                            <td>Vale Transporte</td>
                                            <td id="vt"></td>
                                        </tr>
                                        <tr>
                                            <td>Seguro</td>
                                            <td id="seguro"></td>
                                        </tr>
                                        <tr>
                                            <td>Gym Pass</td>
                                            <td id="gympass"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Descrição</th>
                                            <th>Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Encargos Sociais (Legais + Provisões)</td>
                                            <td id="encargos_sociais"></td>
                                        </tr>
                                        <tr>
                                            <td>Total Salário + Encargos</td>
                                            <td id="total_sal_encargos"></td>
                                        </tr>
                                        <tr>
                                            <td>Total Benefícios</td>
                                            <td id="total_beneficios"></td>
                                        </tr>
                                        <tr>
                                            <td>Total do Custo do Serviço Prestado</td>
                                            <td id="total_servico_prestado"></td>
                                        </tr>
                                        <tr>
                                            <td>Despesas Operacionais 5%</td>
                                            <td id="despesas_operacionais"></td>
                                        </tr>
                                        <tr>
                                            <td>Lucro 15%</td>
                                            <td id="lucro"></td>
                                        </tr>
                                        <tr>
                                            <td>Preço de Venda sem Impostos</td>
                                            <td id="preco_venda_sem_impostos"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Impostos</th>
                                            <th>Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>ISS</td>
                                            <td id="iss"></td>
                                        </tr>
                                        <tr>
                                            <td>PIS</td>
                                            <td id="pis"></td>
                                        </tr>
                                        <tr>
                                            <td>Cofins</td>
                                            <td id="cofins"></td>
                                        </tr>
                                        <tr>
                                            <td>IR</td>
                                            <td id="ir"></td>
                                        </tr>
                                        <tr>
                                            <td>CSLL</td>
                                            <td id="csll"></td>
                                        </tr>
                                        <tr>
                                            <td>Total</td>
                                            <td id="total_impostos"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Campo separado para Preço de Venda com Impostos - Mês -->
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Preço de Venda com Impostos - Mês</th>
                                            <th id="preco_venda_com_impostos"></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="abrir-popup">Salvar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para Nome do Cliente e Número da Proposta -->
    <div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="popupModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="popupModalLabel">Informações Adicionais</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="popupForm">
                        <div class="form-group">
                            <label for="nome_cliente">Nome do Cliente</label>
                            <input type="text" id="nome_cliente" name="nome_cliente" class="form-control" placeholder="Digite o nome do cliente...">
                        </div>
                        <div class="form-group">
                            <label for="numero_proposta">Número da Proposta</label>
                            <input type="number" id="numero_proposta" name="numero_proposta" class="form-control" placeholder="Digite o número da proposta...">
                        </div>
                        <input type="hidden" id="form_action" name="form_action">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" id="salvar_pdf_completo">Salvar PDF Completo</button>
                    <button type="submit" class="btn btn-primary" id="salvar_pdf_resumido">Salvar PDF Resumido</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const input = document.getElementById('id_cargo');
            const suggestionsContainer = document.getElementById('autocomplete-suggestions');
            const salarioInput = document.getElementById('id_salario');
            const assistenciaMedicaInput = document.getElementById('id_assistencia_medica');
            const assistenciaOdontoInput = document.getElementById('id_assistencia_odonto');
            const seguroInput = document.getElementById('id_seguro');
            const vrInput = document.getElementById('id_vr');
            const vaInput = document.getElementById('id_va');
            const vtInput = document.getElementById('id_vt');
            const gympassInput = document.getElementById('id_gympass');

            let currentFocus = -1;

            function formatNumber(value) {
                if (typeof value === 'number') {
                    return value.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
                }
                return value;
            }

            function parseValue(value) {
                return parseFloat(value.replace('R$ ', '').replace('.', '').replace(',', '.')) || 0;
            }

            function calculateAndDisplayResults() {
                const salario = parseValue(salarioInput.value);
                const assistenciaMedica = parseValue(assistenciaMedicaInput.value);
                const assistenciaOdonto = parseValue(assistenciaOdontoInput.value);
                const seguro = parseValue(seguroInput.value);
                const vr = parseValue(vrInput.value);
                const va = parseValue(vaInput.value);
                const vt = parseValue(vtInput.value);
                const gympass = parseValue(gympassInput.value);

                const encargosSociais = salario * 0.65;
                const totalSalEncargos = salario + encargosSociais;
                const totalBeneficios = assistenciaMedica + assistenciaOdonto + seguro + vr + va + vt + gympass;
                const totalServicoPrestado = totalSalEncargos + totalBeneficios;
                const despesasOperacionais = totalServicoPrestado * 0.05;
                const lucro = totalServicoPrestado * 0.15;
                const precoVendaSemImpostos = totalServicoPrestado + despesasOperacionais + lucro;
                const totalImpostos = 0.20;
                const precoVendaComImpostos = precoVendaSemImpostos / (1 - totalImpostos);

                const iss = 0.05;
                const pis = 0.01;
                const cofins = 0.03;
                const ir = 0.08;
                const csll = 0.03;

                const issCalculado = iss * precoVendaComImpostos;
                const pisCalculado = pis * precoVendaComImpostos;
                const cofinsCalculado = cofins * precoVendaComImpostos;
                const irCalculado = ir * precoVendaComImpostos;
                const csllCalculado = csll * precoVendaComImpostos;

                document.getElementById('salario').textContent = formatNumber(salario);
                document.getElementById('assistencia_medica').textContent = formatNumber(assistenciaMedica);
                document.getElementById('assistencia_odonto').textContent = formatNumber(assistenciaOdonto);
                document.getElementById('vr').textContent = formatNumber(vr);
                document.getElementById('va').textContent = formatNumber(va);
                document.getElementById('vt').textContent = formatNumber(vt);
                document.getElementById('seguro').textContent = formatNumber(seguro);
                document.getElementById('gympass').textContent = formatNumber(gympass);

                document.getElementById('encargos_sociais').textContent = formatNumber(encargosSociais);
                document.getElementById('total_sal_encargos').textContent = formatNumber(totalSalEncargos);
                document.getElementById('total_beneficios').textContent = formatNumber(totalBeneficios);
                document.getElementById('total_servico_prestado').textContent = formatNumber(totalServicoPrestado);
                document.getElementById('despesas_operacionais').textContent = formatNumber(despesasOperacionais);
                document.getElementById('lucro').textContent = formatNumber(lucro);
                document.getElementById('preco_venda_sem_impostos').textContent = formatNumber(precoVendaSemImpostos);

                document.getElementById('iss').textContent = formatNumber(issCalculado);
                document.getElementById('pis').textContent = formatNumber(pisCalculado);
                document.getElementById('cofins').textContent = formatNumber(cofinsCalculado);
                document.getElementById('ir').textContent = formatNumber(irCalculado);
                document.getElementById('csll').textContent = formatNumber(csllCalculado);
                document.getElementById('total_impostos').textContent = formatNumber(issCalculado + pisCalculado + cofinsCalculado + irCalculado + csllCalculado);

                document.getElementById('preco_venda_com_impostos').textContent = formatNumber(precoVendaComImpostos);

                var cargo = document.getElementById('id_cargo').value;
                var modalTitle = document.getElementById('modalTitle');
                modalTitle.textContent = 'Resultado do Cálculo | ' + cargo;
            }

            document.getElementById('calcular-btn').addEventListener('click', calculateAndDisplayResults);

            document.getElementById('salvar_pdf_resumido').addEventListener('click', function() {
                const formData = new FormData();

                formData.append('cargo', document.getElementById('id_cargo').value);
                formData.append('salario', document.getElementById('salario').innerText);
                formData.append('encargos_sociais', document.getElementById('encargos_sociais').innerText);
                formData.append('total_beneficios', document.getElementById('total_beneficios').innerText);
                formData.append('total_servico_prestado', document.getElementById('total_servico_prestado').innerText);
                formData.append('despesas_operacionais', document.getElementById('despesas_operacionais').innerText);
                formData.append('lucro', document.getElementById('lucro').innerText);
                formData.append('preco_venda_sem_impostos', document.getElementById('preco_venda_sem_impostos').innerText);
                formData.append('preco_venda_com_impostos', document.getElementById('preco_venda_com_impostos').innerText);

                const nomeCliente = document.getElementById('nome_cliente').value;
                const numeroProposta = document.getElementById('numero_proposta').value;

                formData.append('nome_cliente', nomeCliente);
                formData.append('numero_proposta', numeroProposta);

                fetch("{% url 'salvar_pdf_resumido' %}", {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                .then(response => response.blob())
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');

                    const nome_arquivo = `Memorial-de-Calculo_${nomeCliente}-${numeroProposta}.pdf`;

                    a.href = url;
                    a.download = nome_arquivo;
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                })
                .catch(error => {
                    console.error("Erro ao gerar o PDF:", error);
                });
            });

            document.getElementById('salvar_pdf_completo').addEventListener('click', function() {
                const formData = new FormData();

                formData.append('cargo', document.getElementById('id_cargo').value);
                formData.append('salario', document.getElementById('salario').innerText);
                formData.append('assistencia_medica', document.getElementById('assistencia_medica').innerText);
                formData.append('assistencia_odonto', document.getElementById('assistencia_odonto').innerText);
                formData.append('seguro', document.getElementById('seguro').innerText);
                formData.append('vr', document.getElementById('vr').innerText);
                formData.append('va', document.getElementById('va').innerText);
                formData.append('vt', document.getElementById('vt').innerText);
                formData.append('gympass', document.getElementById('gympass').innerText);
                formData.append('encargos_sociais', document.getElementById('encargos_sociais').innerText);
                formData.append('total_sal_encargos', document.getElementById('total_sal_encargos').innerText);
                formData.append('total_beneficios', document.getElementById('total_beneficios').innerText);
                formData.append('total_servico_prestado', document.getElementById('total_servico_prestado').innerText);
                formData.append('despesas_operacionais', document.getElementById('despesas_operacionais').innerText);
                formData.append('lucro', document.getElementById('lucro').innerText);
                formData.append('preco_venda_sem_impostos', document.getElementById('preco_venda_sem_impostos').innerText);
                formData.append('total_impostos', document.getElementById('total_impostos').innerText);
                formData.append('preco_venda_com_impostos', document.getElementById('preco_venda_com_impostos').innerText);

                const nomeCliente = document.getElementById('nome_cliente').value;
                const numeroProposta = document.getElementById('numero_proposta').value;

                formData.append('nome_cliente', nomeCliente);
                formData.append('numero_proposta', numeroProposta);

                fetch("{% url 'salvar_pdf_completo' %}", {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                .then(response => response.blob())
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');

                    const nome_arquivo = `Calculo-Alocacao-Pura_${nomeCliente}-${numeroProposta}.pdf`;

                    a.href = url;
                    a.download = nome_arquivo;
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                })
                .catch(error => {
                    console.error("Erro ao gerar o PDF:", error);
                });
            });

            function renderSuggestions(suggestions) {
                suggestionsContainer.innerHTML = '';
                currentFocus = -1;
                suggestions.forEach((suggestion, index) => {
                    const div = document.createElement('div');
                    div.textContent = suggestion;
                    div.classList.add('autocomplete-suggestion');
                    div.addEventListener('click', () => {
                        input.value = suggestion;
                        suggestionsContainer.innerHTML = '';
                        getSalario(suggestion).then(salario => {
                            salarioInput.value = salario ? formatNumber(salario) : '';
                        });
                    });
                    div.addEventListener('mouseover', () => {
                        currentFocus = index;
                        updateSuggestionHighlight();
                    });
                    suggestionsContainer.appendChild(div);
                });
            }

            function updateSuggestionHighlight() {
                const items = suggestionsContainer.querySelectorAll('.autocomplete-suggestion');
                items.forEach((item, index) => {
                    item.classList.toggle('highlight', index === currentFocus);
                });
            }

            input.addEventListener('input', () => {
                const query = input.value.trim();
                if (query.length >= 3) {
                    getSuggestions(query).then(suggestions => {
                        renderSuggestions(suggestions);
                    });
                } else {
                    suggestionsContainer.innerHTML = '';
                }
            });

            input.addEventListener('keydown', (e) => {
                const items = suggestionsContainer.querySelectorAll('.autocomplete-suggestion');
                if (e.key === 'ArrowDown') {
                    currentFocus++;
                    if (currentFocus >= items.length) currentFocus = 0;
                    updateSuggestionHighlight();
                    input.value = items[currentFocus] ? items[currentFocus].textContent : '';
                } else if (e.key === 'ArrowUp') {
                    currentFocus--;
                    if (currentFocus < 0) currentFocus = items.length - 1;
                    updateSuggestionHighlight();
                    input.value = items[currentFocus] ? items[currentFocus].textContent : '';
                } else if (e.key === 'Enter') {
                    e.preventDefault();
                    if (currentFocus > -1 && items[currentFocus]) {
                        items[currentFocus].click();
                    }
                }
            });

            document.addEventListener('click', (e) => {
                if (!input.contains(e.target) && !suggestionsContainer.contains(e.target)) {
                    suggestionsContainer.innerHTML = '';
                }
            });

            function getSuggestions(query) {
                return new Promise((resolve) => {
                    const xhr = new XMLHttpRequest();
                    xhr.open('GET', '{% url "autocomplete_funcionarios" %}?term=' + query, true);
                    xhr.onload = function() {
                        if (xhr.status === 200) {
                            const suggestions = JSON.parse(xhr.responseText);
                            resolve(suggestions);
                        }
                    };
                    xhr.send();
                });
            }

            function getSalario(cargo) {
                return new Promise((resolve) => {
                    const xhr = new XMLHttpRequest();
                    xhr.open('GET', '{% url "obter_salario" %}?cargo=' + cargo, true);
                    xhr.onload = function() {
                        if (xhr.status === 200) {
                            const response = JSON.parse(xhr.responseText);
                            resolve(response.salario);
                        }
                    };
                    xhr.send();
                });
            }

            document.getElementById('limpar-btn').addEventListener('click', () => {
                input.value = '';
                salarioInput.value = '0,00';
                assistenciaMedicaInput.value = '450,00';
                assistenciaOdontoInput.value = '21,96';
                seguroInput.value = '7,27';
                vrInput.value = '605,00';
                vaInput.value = '0,00';
                vtInput.value = '200,00';
                gympassInput.value = '14,73';
            });

            document.getElementById('abrir-popup').addEventListener('click', function() {
                $('#calcularModal').modal('hide');

                $('#popupModal').modal('show');
            });

            $('#popupModal').on('shown.bs.modal', function () {
                document.getElementById('popupForm').reset();
            });
            
        });

    </script>
    
{% endblock %}
